<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1579128860537-64fcd61568bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3056&q=80);">
  <div class="container d-flex justify-content-center">
    <h1 class="fs-1 font-monospace">Rent the perfect planet!</h1>
  </div>
</div>
<div class="container mt-4">
  <div class="container">
    <div class="row">
      <h1 class="border-bottom">All our Planets</h1>
    </div>
    <div class="row">
      <h3 class="mt-3">All Planets</h3>
    </div>
    <div class="row">
        <% @planets.each do |planet| %>
          <div class="col-md-3">
            <div class="card-trip mb-4">
              <img src="" />
              <div class="card-trip-infos">
                <div>
                  <h2><%= link_to(planet.name, planet_path(planet))%></h2>
                  <p class="mt-2 p-1"><%= planet.address %></p>
                  <div class="flex align-items-center">
                    <i class="fa-solid fa-people-line"></i>
                    <span><%= planet.number_of_guests %></span>
                  </div>
                  <div class="flex align-items-center">
                    <i class="fa-sharp fa-solid fa-sterling-sign"></i>
                    <span><%= planet.price_per_night %> per night</span>
                  </div>
                  <div class="d-inline-flex">
                    <h6><%= link_to "More Info", planet_path(planet), class: "btn btn-dark text-light mt-3 p-2 ms-1" %></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
<!-- <<<<<<< planet-view
<!--       <%= link_to "List new planet", new_planet_path(@planet), class: "btn btn-dark text-light mt-3 p-2 ms-1" %> -->
<!-- ======= -->
<!-- >>>>>>> master --> -->
    </div >
  </div>
</div>
