<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("huv4v6giue1vmj2guti9", quality: 100) %>)">
  <div class="container d-flex justify-content-center">
    <h1 class="fs-1 font-monospace"><%= @planet.name %></h1>
  </div>
</div>
<div class="container margin-top-negative">
    <div class="row">
      <div class="col-8">
        <div class="m-3">
          <div class="row bg-light mt-3 p-3 position-relative">
            <h1><%= @planet.name %></h1>
            <h3><%= @planet.address %></h3>
          </div>
          <div class="row bg-light mt-3 p-3">
            <h2>A little bit more about this planet</h2>
            <h5><%= @planet.description %></h5>
            <img id="map" src="<%= cl_image_path(@planet.photo.key) %>">
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="bg-light m-3">
          <div class="p-3">
            <h2>Book This Planet!</h2>
            <span>Date from</span>

      <%= simple_form_for [@planet, @booking], html: {data: {form_target: "form"}} do |f| %>
        <%= f.input :start_date, placeholder: "Start Date" %>
        <%= f.input :end_date, placeholder: "End Date" %>
        <%= f.submit "Book Now", class: "btn btn-primary" %>
      <% end %>
          </div>
          <div class="p-3">
            <h2>Details:</h2>
            <h3 class="fs-6"><%= @planet.number_of_guests %> People</h3>
            <h3 class="fs-6">£<%= @planet.price_per_night %> per night</h3>
          </div>
        </div>
      </div>
    </div >
    <div>
      <p class="btn btn-dark mt-5"><%= link_to "Back to planets", planets_path, class: "text-white fs-5"%></p>
    </div>
</div>
