<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1579128860537-64fcd61568bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3056&q=80)">
  <div class="container d-flex justify-content-center">
    <h1 class="text-light"><%= @planet.name %></h1>
  </div>
</div>
<div class="container margin-top-negative">
    <div class="row">
      <div class="col-8">
        <div class="m-3">
          <div class="row bg-light mt-3 p-3 position-relative">
            <h1><%= @planet.name %></h1>
            <h4>Address: <%= @planet.address %></h4>
          </div>
          <div class="row bg-light mt-5 p-3">
            <h2>A little bit more about this planet:</h2>
            <h5 class="mt-3"><%= @planet.description %></h5>
            <img id="map" class="mt-5" src=<% if @planet.photo.key.nil? %>
                                <%= "https://images.unsplash.com/photo-1579128860537-64fcd61568bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3056&q=80" %>
                              <% else %>
                                <%= cl_image_path @planet.photo.key %>
                              <% end %>>
          </div>
          <div class="d-inline-flex">
            <% if policy(@planet).edit? %>
              <h6><%= link_to "Edit planet", edit_planet_path(@planet), class: "btn btn-dark text-light mt-2 p-2" %></h6>
              <h6><%= link_to "Delete planet", planet_path(@planet), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-dark text-light mt-2 p-2 ms-3"%></h6>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="bg-light m-3">
          <div class="p-3">
            <h2>Book This Planet!</h2>
            <span>Date from</span>
              <%= simple_form_for [@planet, @booking], html: {data: {form_target: "form"}} do |f| %>
              <%= f.input :start_date, start_year: Date.current.year, end_year: Date.current.year + 2, default: Date.current.tomorrow %>
              <%= f.input :end_date, start_year: Date.current.year, end_year: Date.current.year + 2, default: Date.current.tomorrow + 1 %>
              <%= f.submit "Book Now", class: "ms-1 btn btn-dark" %>
              <% end %>
          </div>
          <div class="p-3">
            <h4 class="ms-1">Details:</h4>
            <h5 class="ms-1"><i class="fa-solid fa-people-line"></i>  <%= @planet.number_of_guests %></h5>
            <h5 class="ms-1"><i class="fa-sharp fa-solid fa-sterling-sign"></i> <%= @planet.price_per_night %> per night</h5>
          </div>
        </div>
        <div class="bg-light m-3 mt-5">
        <div class="p-3">
          <h2>Post your review here!</h2>
          <%= simple_form_for [@planet, @review], html: {data: {form_target: "form"}} do |f| %>
          <%= f.input :rating %>
          <%= f.input :content %>
          <%= f.submit "Submit review", class: "ms-1 btn btn-dark" %>
          <% end %>
        </div>
      </div>
      </div>
    </div >
    <div class="container justify-content-center col-8 mt-5 bg-light">
      <div>
        <% if @planet.reviews.blank? %>
          <h3>Be the first to leave a review!</h3>
        <% else %>
          <%# <% @planet.reviews.each do |review| %>
            <%# <p><%= review.rating - <%= review.content %></p>
        <% end %>
      </div>
    </div>
    <div>
      <p class="btn btn-dark mt-5 rounded-pill"><%= link_to "Back to planets", planets_path, class: "text-white fs-5"%></p>
    </div>
</div>
