<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1579128860537-64fcd61568bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3056&q=80)">
  <div class="container d-flex justify-content-center">
    <h1 class="font-monospace text-light"><%= @planet.name %></h1>
  </div>
</div>
<div class="container margin-top-negative">
    <div class="row">
      <div class="col-8">
        <div class="m-3">
          <div class="row bg-light mt-3 p-3 position-relative">
            <h1><%= @planet.name %></h1>
            <h3><%= @planet.address %></h3>
          </div>
          <div class="row bg-light mt-3 p-3">
            <h2>A little bit more about this planet</h2>
            <h5><%= @planet.description %></h5>
            <img id="map" src=<% if @planet.photo.key.nil? %>
                                <%= "https://images.unsplash.com/photo-1579128860537-64fcd61568bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3056&q=80" %>
                              <% else %>
                                <%= cl_image_path @planet.photo.key %>
                              <% end %>>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="bg-light m-3">
          <div class="p-3">
            <h2>Book This Planet!</h2>
            <span>Date from</span>

      <%= simple_form_for [@planet, @booking], html: {data: {form_target: "form"}} do |f| %>
        <%= f.input :start_date, placeholder: "Start Date" %>
        <%= f.input :end_date, placeholder: "End Date" %>
        <%= f.submit "Book Now", class: "btn btn-primary" %>
      <% end %>
          </div>
          <div class="p-3">
            <h2>Details:</h2>
            <h3 class="fs-6"><%= @planet.number_of_guests %> People</h3>
            <h3 class="fs-6">£<%= @planet.price_per_night %> per night</h3>
          </div>
        </div>
      </div>
    </div >
    <div>
      <p class="btn btn-dark mt-5"><%= link_to "Back to planets", planets_path, class: "text-white fs-5"%></p>
    </div>
</div>
