<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("huv4v6giue1vmj2guti9", quality: 100) %>)">
  <div class="container d-flex justify-content-center">
    <h1 class="fs-1 font-monospace">Rent the perfect planet!</h1>
  </div>
</div>
<div class="container">
  <div class="d-flex p-5 justify-content-center">
    <div>
      <%= link_to "See all planets", planets_path, class: "btn btn-dark fs-2 text-light mt-3 p-3 ms-1" %>
    </div>
  </div>
</div>
<%# <div class="d-flex justify-content-center">
  <div class="container row p-5 justify-content-center"> %>
    <%# <% @planets.each do |planet| %>
      <%# <div class="bg-image card card-list shadow-1-strong col-3 m-4" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), %>
       <%# url(<%= cl_image_path list.photo.key %>
       <%# );" style="width: 18rem;"> %>

        <%# <div class="card-body"> %>
          <%# <h2 class="card-text text-light"><%= planet.name %>
        <%# </div> %>
        <%# <div class="card-body"> %>
          <%# <%= link_to "See List", planet_path(planet), class: "btn btn-dark text-light mt-3 p-2 ms-1" %>
        <%# </div> %>
      <%# </div> %>
    <%# <% end %>
  <%# </div> %>
<%# </div> %>
<%# <div class="container d-flex justify-content-end mb-5"> %>
  <%# <%= link_to "Add a new planet", new_planet_path, class: "btn btn-dark text-light mt-3 p-2 ms-1" %>
<%# </div> %>
